/* 设置整体可见内容区为视口 */
/* overflow-x 解决横向滚动条问题 */
html{
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    background: black;
    width: 100vw;
    color: rgb(222, 222, 222);
    letter-spacing: 2px;
}
/* 设置一个列表序号 */
.circle{
    display: inline-block;
    height: 6px;
    width: 6px;
    border-radius: 6px;
    background: #ecececd3;
    transform: translateY(-2px);
}
/* #region 侧边栏 */
.left-menu-main{
    height: 100vh;
    width: 12vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left-menu-main .logo{
    height: 6vh;
    width: 6vh;
    margin-top: 5vh;
    background: url(../images/self_logo2.png);
    background-size: 6vh 6vh;
    background-repeat: no-repeat;
    cursor: pointer;
}
.left-menu-main .left-menu{
    width: 5vw;
    margin-top: 5vh;
    font-size: 1vw;
}
.left-menu li{
    text-align: center;
    margin-bottom: 2vh;
}
.left-menu ul a{
    font-weight: bold;
    writing-mode: vertical-lr;
}
.left-menu-main .contact-menu{
    width: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    flex-grow: 1;
    margin-bottom: 5vh;
}
.left-menu-main .contact-menu ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left-menu-main .contact-menu li{
    margin-bottom: 1vh;
    text-align: center;
    line-height: 3vh;
}
/* #endregion 侧边栏 */
/* #region 右侧内容区 */
/* #region 首页区 */
.right-content-main{
    margin-left: 13vw;
    width: calc(100vw - 13vw);
    display: flex;
    flex-direction: column;
    background: url(../images/bgjpg.png);
    background-position: 0 10vw;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 5vw;
    box-sizing: border-box;
}
.right-content-main .top{
    margin-top: 5vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content:left;
}
.top-funcbut{
    display: flex;
    height: 3vh;
    width: 60vw;
    justify-content: left;
    text-align: center;
    line-height: 3vh;
}
.func1, .func2{
    width: 5vw;
    height: 3vh;
    line-height: 3vh;
    border: 2px solid #55a5bb;
    border-radius: 2vw;
    cursor: pointer;
    font-size: 1vw;
}
.func2{
    margin-left: 2vw;
}
.right-content-main .functionbutton{
    height: 3vh;
    width: 40vw;
    margin-right: 7vw;
    text-align: center;
    line-height: 30px;
    display: flex;
    justify-content: right;
}
.right-content-main .functionbutton .func3{
    width: 3vh;
    height: 3vh;
    border-radius: 3vh;
    border: 2px solid #55a5bb;
    box-sizing: border-box;
}
.preface{
    height: calc(100vh - 10vh);
    display: flex;
}
.preface-left{
    width: calc(60vw - 14vw);
}
.preface-title{
    margin-top: 20vh;
}
.preface-title span{
    display: block;
}
.preface-title span:first-child, .preface-title span:last-child{
    font-size: 2vw;
    letter-spacing: 1vw;
}
.preface-title span:nth-child(2){
    font-size: 5vw;
    letter-spacing: 1vw;
    margin: 5px 0 5px;
}
.preface-title span b{
    color: #55a5bb;
}
.preface .hr{
    background: #55a5bb;
    margin-top: 2vh;
    width: 41vw;
    height: 5px;
    border-radius: 5px;
}
.preface-content{
    width: 41vw;
    margin-top: 2vh;
    line-height: 3vh;
}
.preface-right{
    width: 40vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.preface-right-img{
    width: 20vw;
    height: 55vh;
    background: url(../images/self_photo.png), linear-gradient(0deg, #1fa4ae24, #1fa4ae);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    margin-bottom: 10vh;
    border-radius: 5vw;
}
/* #endregion 首页区 */
/* #region 教育经历 */
.education{
    padding: 50px 80px 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 100px;
}
.edu-titles{
    height: 60px;
    width: 100%;
    margin: 60px 0 30px 0;
}
.edu-titles div{
    position: relative;
    font-weight: bold;
    font-size: 40px;
    transform: translateX(400px);
}
.edu-titles div::after{
    content: 'Education';
    position: absolute;
    font-weight: bold;
    color: #43e2f08a;
    font-size: 40px;
    transform: translate(-95px, -15px);
    z-index: -1;
}
.education-items{
    width: 60vw;
    display: flex;
    padding-top: 20px;
    margin-bottom: 5vh;
}
.item2, .item3{
    border-top: 2px dashed #15e1d3;
}
.education-items .num{
    width: 15%;
    height: 100%;
    font-size: 30px;
    font-weight: bold;
}
.education-items .university{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.education-items .university span:first-child{
    font-size: 16px;
    height: 30px;
    line-height: 30px;
}
.education-items .university span:last-child{
    font-size: 26px;
    font-weight: bold;
}
.education-items .experience{
    width: calc(100% - 15% - 30%);
    margin-left: 50px;
    height: 100%;
    line-height: 25px;
}
/* #endregion 教育经历 */
/* #region 技术栈 */
.skills{
    margin-bottom: 10vh;
    margin-left: 200px;
    background: url(../images/skill_bg.png);
    background-position: -15vw -25vh;
    background-repeat: no-repeat;
    background-size: 90vw;
}
.titles{
    height: 60px;
    width: 100%;
    margin: 60px 0 30px 0;
}
.titles div{
    position: relative;
    font-weight: bold;
    font-size: 40px;
    transform: translateX(400px);
}
.titles div::after{
    content: 'SKILLS';
    position: absolute;
    font-weight: bold;
    color: #43e2f08a;
    font-size: 40px;
    transform: translate(-55px, -15px);
    z-index: -1;
}
.skills-content{
    margin-left: 10vw;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.skills-content ul{
    display: flex;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}
.skills-content ul li{
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    background: linear-gradient(90deg, #172c6d, #2791a2);
    border-radius: 100px;
    margin: 0 30px 30px 0;
}
/* #endregion 技术栈 */
/* #region 项目进度 */
.prog-titles{
    height: 60px;
    width: 100%;
    font-weight: bold;
    font-size: 40px;
    padding: 5vh 5vw;
}
.prog-titles div{
    position: relative;
    z-index: 2;
}
.prog-titles div::after{
    content: 'PROGRAME';
    position: absolute;
    font-weight: bold;
    color: #43e2f08a;
    font-size: 40px;
    top: 3vh;
    left: 9vh;
    z-index: 0;
}
.program{
    margin-bottom: 100px;
}
.prog-container{
    margin-left: 200px;
}
.prog-container-header{
    width: 65vw;
    height: 20vh;
    background: linear-gradient(90deg, #267a82, #95b567);
    border-top-left-radius: 8vh;
    margin-right: auto;
    position: relative;
}
.prog-container-header::after{
    content: '';
    display: inline-block;
    width: 50vw;
    height: 100%;
    background: #95b567;
    left: 100%;
    top: 0;
    position: absolute;
}
.prog-container-main{
    position: relative;
}
.prog-items{
    display: flex; 
    justify-content: start;
    margin-left: 5vw;
}
.prog-container-main::before{
    content: '';
    position: absolute;
    width: 65vw;
    height: 15vh;
    background: linear-gradient(90deg, #267a82, #95b567);
    border-bottom-left-radius: 8vh;
    z-index: -1;
}
.prog-container-main::after{
    content: '';
    display: inline-block;
    width: 50vw;
    height: 15vh;
    background: #95b567;
    left: 84%;
    top: 0;
    position: absolute;
}
.prog-outline{
    display: flex;
    flex-direction: column;
    height: 35vh;
    width: 25vw;
    border-radius: 5vh;
    margin-right: 50px;
    border: 2px dashed #15e1d3;
    padding: 2vh 1vw;
    box-sizing: border-box;
    justify-content: end;
}
.prog-item1{
    background: url(../images/TOPMUR.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.prog-item2{
    background: url(../images/self_index.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.prog-outline span{
    font-weight: bold;
}
.prog-item1 div{
    height: 8%;
    width: 95%;
    background: linear-gradient(90deg, #1fa4ae 40%, #ecececd3 40%);
    border-radius: 20px;
    margin-bottom: 1vh;
}
.prog-item1 div::after{
    content: '40%';
    position: absolute;
    transform: translateX(10px);
    color: white;
}
.prog-item2 div{
    height: 8%;
    width: 95%;
    background: linear-gradient(90deg, #1fa4ae 60%, #ecececd3 60%);
    border-radius: 20px;
    margin-bottom: 1vh;
}
.prog-item2 div::after{
    content: '60%';
    position: absolute;
    transform: translateX(10px);
    color: white;
}
/* #endregion 项目进度 */
/* #region 工作经历 */
.working{
    margin-bottom: 15vh;
}
.work-titles{
    height: 60px;
    width: 100%;
    margin: 60px 0 30px 0;
}
.work-titles div{
    position: relative;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 2px;
    transform: translateX(600px);
}
.work-titles div::after{
    content: 'JOBS';
    position: absolute;
    font-weight: bold;
    color: #43e2f08a;
    font-size: 40px;
    transform: translate(-55px, -15px);
    z-index: -1;
}
.work-content{
    display: flex;
    margin-left: 200px;
    flex-direction: column;
}
.work-outline{
    width: 60vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #55a5bb;
    padding-bottom: 1vh;
}
.work-outline:first-child{
    margin-bottom: 3vh;
}
.work-outline li{
    display: flex;
    align-items: flex-end;
}
.work-outline li:first-child{
    font-weight: bold;
    font-size: 20px;
}
.work-introduction{
    width: 60vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.work-introduction li{
    margin-bottom: 2vh;
}
.work-introduction li:last-child{
    margin-bottom: 5vh;
}
/* #endregion 工作经历 */
/* #region 科研经历 */
.research{
    margin-left: 200px;
    background: url(../images/research-bg.png);
    background-repeat: no-repeat;
}
.research-title::after{
    content: 'RESEARCH';
    position: absolute;
    font-weight: bold;
    color: #43e2f08a;
    font-size: 40px;
    transform: translate(-100px, -15px);
    z-index: -1;
}
.research-title{
    position: relative;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 2px;
    transform: translateX(300px);
    margin-bottom: 8vh;
    padding-left: 100px;
}
.research-items{
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    align-content: start;
}
.research-items .research-item{
    padding: 2vh 2vw;
    box-sizing: border-box;
    border: 2px solid #15e1d3;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    width: 28vw;
}
.research-item{
    margin-right: 5vw;
    margin-bottom: 8vh;
}
.research-item-top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.research-item-top span{
    display: block;
    width: 50%;
}
.research-item-top span:first-child{
    display: block;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}
.research-item-top .bottomline{
    margin-top: 10px;
    width: 100%;
    height: 2px;
    background: #ecececd3;
}
.research-item-top>span{
    font-size: 14px;
}
.research-item-top span:nth-child(3){
    display: block;
    width: 50%;
    text-align: left;
}
.research-item-top span:nth-child(3), .research-item-top span:nth-child(4){
    margin-top: 10px;
}
.research-item-top span:nth-child(4){
    text-align: right;
}
.research-item-top span:nth-child(5), .research-item-top span:nth-child(6){
    margin-top: 10px;    
}
.research-item-top span:nth-child(6){
    text-align: right;
}
.research-item-me .research-item-top span:nth-child(3){
    width: 100%;
}
.research-item-me .research-item-top span:nth-child(4){
    text-align: left;
}
.research-item-me .research-item-top span:nth-child(5){
    text-align: right;
}
.research-item-content{
    margin-top: 30px;
    line-height: 30px;
}
/* #endregion 科研经历 */
/* #endregion 右侧内容区 */
/* #region contact */
.contact{
    height: 40vh;
    width: 78vw;
    background: linear-gradient(149deg, #3fc2e9cc, #332f71c4 70%);
    border-top-left-radius: 5vw;
    margin-left: calc(100vw - 88vw);
    display: flex;
    flex-direction: column;
    padding: 5vh 5vw;
    box-sizing: border-box;
}
.contact-title{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 3vh;
}
.contact ul{
    display: flex;
    justify-content: start;
    align-items: end;
    height: 15vh;
}
.contact ul li{
    margin-right: 5vw;
}
.contact ul li div:first-child{
    font-size: 24px;
    margin-bottom: 1vh;
}
.contact span{
    margin-top: 4vh;
    text-align: left;
    font-size: 12px;
}
/* #endregion contact */