/* 设置整体可见内容区为视口 */
/* overflow-x 解决横向滚动条问题 */
html{
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 0.9vw;
}
body{
    background: black;
    width: 100vw;
    color: rgb(222, 222, 222);
    letter-spacing: 2px;
}
/* 设置一个列表序号 */
.circle{
    display: inline-block;
    height: 6px;
    width: 6px;
    border-radius: 6px;
    background: #ecececd3;
    transform: translateY(-2px);
}
/* 页面分割块 */
.separation{
    height: 20vh;
    width: 100%;
}
/* #region 侧边栏 */
.left-menu-main{
    height: 100vh;
    width: 12vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left-menu-main .logo{
    height: 6vh;
    width: 6vh;
    margin-top: 5vh;
    background: url(../images/self_logo2.png);
    background-size: 6vh 6vh;
    background-repeat: no-repeat;
    cursor: pointer;
}
.left-menu-main .left-menu{
    width: 5vw;
    margin-top: 5vh;
    font-size: 1vw;
}
.left-menu li{
    text-align: center;
    margin-bottom: 2vh;
}
.left-menu ul a{
    font-weight: bold;
    writing-mode: vertical-lr;
}
.left-menu-main .contact-menu{
    width: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    flex-grow: 1;
    margin-bottom: 5vh;
}
.left-menu-main .contact-menu ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left-menu-main .contact-menu li{
    margin-bottom: 1vh;
    text-align: center;
    line-height: 3vh;
}
/* #endregion 侧边栏 */
/* #region 右侧内容区 */
/* #region 首页区 */
.right-content-main{
    margin-left: 13vw;
    width: calc(100vw - 13vw);
    display: flex;
    flex-direction: column;
    background: url(../images/preface_bg.png);
    background-position: 0 10vw;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 5vw;
    box-sizing: border-box;
}
.right-content-main .top{
    margin-top: 5vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content:left;
}
.top-funcbut{
    display: flex;
    height: 3vh;
    width: 60vw;
    justify-content: left;
    text-align: center;
    line-height: 3vh;
}
.func1, .func2{
    width: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 3vh;
    border: 2px solid #55a5bb;
    border-radius: 2vw;
    cursor: pointer;
}
.func2{
    margin-left: 2vw;
}
.right-content-main .functionbutton{
    height: 3vh;
    width: 40vw;
    margin-right: 7vw;
    text-align: center;
    line-height: 30px;
    display: flex;
    justify-content: right;
}
.right-content-main .functionbutton .func3{
    width: 3vh;
    height: 3vh;
    border-radius: 3vh;
    border: 2px solid #55a5bb;
    box-sizing: border-box;
}
.preface{
    display: flex;
    margin-top: 20vh;
}
.preface-title span{
    display: block;
}
.preface-title span:first-child, .preface-title span:last-child{
    font-size: 2vw;
    letter-spacing: 1vw;
}
.preface-title span:nth-child(2){
    font-size: 5vw;
    letter-spacing: 1vw;
    margin: 5px 0 5px;
}
.preface-title span b{
    color: #55a5bb;
}
.preface .hr{
    background: #55a5bb;
    margin-top: 2vh;
    width: 41vw;
    height: 5px;
    border-radius: 5px;
}
.preface-content{
    width: 41vw;
    margin-top: 2vh;
    line-height: 3vh;
}
.preface-right{
    width: 40vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.preface-right-img{
    min-width: 200px;
    min-height: 275px;
    max-width: 350px;
    max-height: 520px;
    width: 20vw;
    height: 55vh;
    background: url(../images/self_photo.png), linear-gradient(0deg, #1fa4ae24, #1fa4ae);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    border-radius: 5vw;
}
/* #endregion 首页区 */
/* #region 教育经历 */
.education{
    padding: 12vh 4vw 5vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.edu-titles{
    height: 6vh;
    margin-bottom: 8vh;
}
.edu-titles div{
    position: relative;
    font-weight: bold;
    font-size: 2.5vw;
    left: 22vw;
}
.edu-titles div::after{
    content: 'Education';
    position: absolute;
    font-weight: bold;
    color: #43e2f08a;
    font-size: 2.5vw;
    right: 54vw;
    bottom: 2vh;
    z-index: -1;
}
.education-items{
    width: 60vw;
    display: flex;
    padding: 2vh 0 5vh;
}
.item2, .item3{
    border-top: 2px dashed #15e1d3;
}
.education-items .num{
    width: 15%;
    font-size: 2vw;
    font-weight: bold;
}
.education-items .university{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.education-items .university span:first-child{
    height: 3vh;
    line-height: 3vh;
}
.education-items .university span:last-child{
    font-size: 1.5vw;
    font-weight: bold;
}
.education-items .experience{
    width: calc(100% - 15% - 30%);
    margin-left: 3vw;
    line-height: 2.5vh;
}
/* #endregion 教育经历 */
:nth-child(2 of div.separation){
    background: url(../images/njuxx.png);
    background-repeat: no-repeat;
    background-position: -2vw -4vh;
    background-size: 75vw;    
}
/* #region 技术栈 */
.skills{
    padding: 12vh 4vw 5vh 5vw;
    background: url(../images/skill_bg.png);
    background-position: -10vw -5vh;
    background-repeat: no-repeat;
    background-size: 90vw;
}
.titles{
    height: 6vh;
    margin-bottom: 8vh;
}
.titles div{
    position: relative;
    font-weight: bold;
    font-size: 2.5vw;
    left: 22vw;
}
.titles div::after{
    content: 'SKILLS';
    position: absolute;
    font-weight: bold;
    color: #43e2f08a;
    font-size: 2.5vw;
    right: 59vw;
    bottom: 2vh;
    z-index: -1;
}
.skills-content{
    margin-left: 10vw;
    width: 50%;
}
.skills-content ul{
    display: flex;
    text-align: center;
    font-weight: bold;
    font-size: 1.1vw;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}
.skills-content ul li{
    padding: 2vh 2vw;
    background: linear-gradient(90deg, #172c6d, #2791a2);
    border-radius: 5vw;
    margin: 0 3vw 3vh 0;
}
/* #endregion 技术栈 */
/* #region 项目进度 */
.prog-titles{
    height: 6vh;
    font-weight: bold;
    font-size: 2vw;
    padding: 5vh 5vw;
}
.prog-titles div{
    position: relative;
    z-index: 2;
}
.prog-titles::after{
    content: 'PROGRAME';
    position: absolute;
    font-weight: bold;
    color: #43e2f08a;
    font-size: 2vw;
    top: 7vh;
    left: 17vh;
    z-index: 0;
}
.prog-container-header{
    width: 65vw;
    height: 20vh;
    background: linear-gradient(90deg, #267a82, #95b567);
    border-top-left-radius: 8vh;
    margin-right: auto;
    position: relative;
}
.prog-container-header::after{
    content: '';
    display: inline-block;
    width: 50vw;
    height: 100%;
    background: #95b567;
    left: 100%;
    top: 0;
    position: absolute;
}
.prog-container-main{
    position: relative;
}
.prog-items{
    display: flex; 
    justify-content: start;
    margin-left: 5vw;
}
.prog-container-main::before{
    content: '';
    position: absolute;
    width: 65vw;
    height: 15vh;
    background: linear-gradient(90deg, #267a82, #95b567);
    border-bottom-left-radius: 8vh;
    z-index: -1;
}
.prog-container-main::after{
    content: '';
    display: inline-block;
    width: 50vw;
    height: 15vh;
    background: #95b567;
    left: 79%;
    top: 0;
    position: absolute;
}
.prog-outline{
    display: flex;
    flex-direction: column;
    height: 35vh;
    width: 25vw;
    border-radius: 5vh;
    border: 2px dashed #15e1d3;
    padding: 2vh 1vw;
    box-sizing: border-box;
    justify-content: end;
}
.prog-item1{
    background: url(../images/TOPMUR.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10vw;
}
.prog-item2{
    background: url(../images/self_index.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.prog-outline span{
    font-weight: bold;
}
.prog-outline div{
    border-radius: 2vh;
    margin-bottom: 1vh;
    display: flex;
    align-items: center;
    height: 2vh;
    width: 95%;
}
.prog-item1 div{
    background: linear-gradient(90deg, #1fa4ae 40%, #ecececd3 40%);
}
.prog-item1 div::after{
    content: '40%';
    position: absolute;
    color: white;
    left: 7vw;
}
.prog-item2 div{
    background: linear-gradient(90deg, #1fa4ae 60%, #ecececd3 60%);
}
.prog-item2 div::after{
    content: '60%';
    position: absolute;
    left: 42vw;
    color: white;
}
/* #endregion 项目进度 */
/* #region 工作经历 */
.working{
    padding: 12vh 4vw 5vh 5vw;
}
.work-container{
    background: #141414;
    width: 60vw;
    border-radius: 1vw;
    padding: 3vh 2vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.work-titles{
    height: 6vh;
    margin-bottom: 5vh;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
}
.work-titles div{
    position: relative;
    z-index: 2;
}
.work-titles::after{
    content: 'JOBS';
    position: absolute;
    font-weight: bold;
    color: #43e2f08a;
    font-size: 2.5vw;
    right: 39vw;
    transform: translateY(-3vh);
    z-index: 0;
}
.work-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.job{
    box-sizing: border-box;
    display: flex;
    justify-content: start;
    width: 100%;
    height: 30vh;
}
.job1 .work-outline{
    width: 30vh;
    background-image: url(../images/editor.jpg);
    background-size: 30vh 30vh;
    background-repeat: no-repeat;
    background-position: left;
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
}
.job2 .work-outline{
    width: 30vh;
    background-image: url(../images/words.jpg);
    background-size: 30vh 30vh;
    background-repeat: no-repeat;
    background-position: left;
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
}
.work-introduction{
    width: calc(100% - 30vh);
    border-top-right-radius: 1vw;
    border: 2px solid rgb(50, 50, 50);
    border-left: 0;
    border-bottom-right-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vh 2vw 2vh 1vw;
}
.work-introduction ul:first-child{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.work-introduction ul:first-child li{
    line-height: 2.5vh;
    width: 50%;
    align-items: flex-start;
}
.work-introduction ul:first-child li:last-child{
    width: 100%;
}
.work-introduction ul:first-child li:first-child{
    font-size: 1.3vw;
    font-weight: bold;
}
.work-introduction ul:first-child :nth-child(2 of li){
    text-align: right;
    opacity: 0.8;
}
.work-introduction ul:first-child li:last-child{
    margin-top: 1.5vh;
    opacity: 0.8;
}
.work-introduction ul:last-child li{
    line-height: 2.5vh;
    opacity: 0.9;
}
.job1{
    margin-bottom: 6vh;
}

/* #endregion 工作经历 */
/* #region 科研经历 */
.research{
    padding: 12vh 4vw 5vh 5vw;
    background: url(../images/research-bg.png);
    background-repeat: no-repeat;
    background-position: 3vw 9vh;
    background-size: 65vw;
}
.research-title::after{
    content: 'RESEARCH';
    position: absolute;
    font-weight: bold;
    color: #43e2f08a;
    font-size: 2.5vw;
    right: 54vw;
    bottom: 2vh;
    z-index: -1;
}
.research-title{
    position: relative;
    font-weight: bold;
    font-size: 2.5vw;
    left: 22vw;
    margin-bottom: 8vh;
}
.research-items{
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    align-content: start;
}
.research-items .research-item{
    padding: 2vh 2vw;
    box-sizing: border-box;
    border: 2px solid #15e1d3;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    width: 28vw;
}
.research-item{
    margin-right: 5vw;
}
:nth-child(odd of div.research-item){
    margin-bottom: 8vh;
}
.research-item-top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.research-item-top span{
    display: block;
    width: 50%;
}
.research-item-top span:first-child{
    display: block;
    width: 100%;
    font-size: 1.2vw;
    font-weight: bold;
}
.research-item-top .bottomline{
    margin-top: 1vh;
    width: 100%;
    height: 0.2vh;
    background: #ecececd3;
}
.research-item-top span:nth-child(3){
    display: block;
    width: 50%;
    text-align: left;
}
.research-item-top span:nth-child(3), .research-item-top span:nth-child(4){
    margin-top: 1vh;
}
.research-item-top span:nth-child(4){
    text-align: right;
}
.research-item-top span:nth-child(5), .research-item-top span:nth-child(6){
    margin-top: 1vh;    
}
.research-item-top span:nth-child(6){
    text-align: right;
}
.research-item-me .research-item-top span:nth-child(3){
    width: 100%;
}
.research-item-me .research-item-top span:nth-child(4){
    text-align: left;
}
.research-item-me .research-item-top span:nth-child(5){
    text-align: right;
}
.research-item-content{
    margin-top: 3vh;
    line-height: 3vh;
}
/* #endregion 科研经历 */
/* #endregion 右侧内容区 */
/* #region contact */
.contact{
    height: 40vh;
    width: 78vw;
    background: linear-gradient(149deg, #3fc2e9cc, #332f71c4 70%);
    border-top-left-radius: 5vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    padding: 5vh 5vw;
    box-sizing: border-box;
}
.contact-top{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.backtofirst{
    font-size: 0.7vw;
    box-sizing: border-box;
    background: #b5b5b53b;
    border-radius: 5vw;
    padding: 1vh 1vw;
}
.contact-title{
    font-size: 2vw;
    font-weight: bold;
}
.contact ul{
    display: flex;
    justify-content: start;
    align-items: end;
    height: 15vh;
    margin-top: 10vh;
}
.contact ul li{
    margin-right: 5vw;
}
.contact ul li div:first-child{
    font-size: 1.5vw;
    margin-bottom: 1vh;
}
.contact span{
    margin-top: 4vh;
    text-align: left;
    font-size: 0.7vw;
}
/* #endregion contact */